<section class="py-2 bg-gradient-to-br from-blue-50 to-teal-50 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8
rounded-2xl shadow-2xl flex flex-col h-[86vh]">
    <div class="container mx-auto px-4 pt-6">
        <h1 class="mt-4 text-center mb-2 text-3xl font-bold text-blue-700">
            Chatter Up for {{chatEnvironmentTitle()}}!
        </h1>
        <h2 class="text-center mb-6 text-2xl font-bold text-green-600">
            Scenario: {{game().scenario}}
        </h2>
    </div>

    <!-- Game Header -->
    <div class="flex justify-between items-center mb-1 px-4">
        <!-- Time -->
        <div class="flex items-center space-x-2">
            <ng-container *ngIf="timeRemaining$ | async as timeRemaining">
            <span class="text-xl text-gray-500">Time Remaining:</span>
                @if (timeRemaining > 120) {
                    <span class="text-2xl font-mono font-bold text-green-600">{{formatTime(timeRemaining)}}</span>    
                } @else if (timeRemaining > 60) {
                    <span class="text-2xl font-mono font-bold text-orange-600">{{formatTime(timeRemaining)}}</span>    
                } @else {
                    <span class="text-2xl font-mono font-bold text-red-600 animate-pulse">{{formatTime(timeRemaining)}}</span>
                }
            </ng-container>
        </div>

        <!-- Score -->
        <div class="flex items-center space-x-2">
            <span class="text-xl text-gray-500">Score:</span>
            <span class="text-2xl font-bold text-green-600">
                {{game().score > 0 ? '+' : ''}}{{game().score}}
            </span>
        </div>

    </div>

    <!-- Messages -->
    <div class="space-y-4 mb-6 overflow-y-auto bg-gray-200 rounded-lg p-4 flex-1">
        @for (message of chatMessages(); track message.id) {
            <div class="flex"
                    [class.justify-end]="message.sender === 'user'"
                    [class.justify-start]="message.sender === 'coach'">
                <div>
                    <p class="text-xs py-1 px-2">{{message.timeSent | date:'mediumTime'}}</p>
                <div class="max-w-xs px-4 py-3 rounded-lg"
                        [class.sent-by-user]="message.sender === 'user'"
                        [class.sent-by-coach]="message.sender === 'coach'">
                    <p class="text-sm">{{message.text}}</p>
                    @if (message.scored) {
                        <div class="flex items-center justify-end mt-2">
                            @if (message.explanation !== undefined) {
                                <z-badge zPopover [zContent]="popoverContent" title="Coach feedback" zPlacement="bottom" class="text-[1em] bg-white text-teal-500 mr-1">
                                    <span class="icon-[bx--comment-detail]"></span>
                                </z-badge>

                                <ng-template #popoverContent>
                                    <z-popover class="bg-blue-100 p-1 max-w-60">
                                        <div class="space-y-2">
                                            <h4 class="font-medium leading-none">Chat Coach says...</h4>
                                            <p class="text-sm text-muted-foreground">{{message.explanation}}</p>
                                        </div>
                                        <label class="font-medium text-sm" for="autohideCheckbox">
                                            Auto-hide Feedback:
                                            <input class="ml-2" type="checkbox" (click)="toggleAutohide()" id="autohideCheckbox" [checked]="autohideFeedback"/>
                                        </label>
                                    </z-popover>
                                </ng-template>
                            }
                            <z-badge class="text-xs text-white"
                                    [class.score-great]="message.score === 2"
                                    [class.score-good]="message.score === 1"
                                    [class.score-meh]="message.score === 0"
                                    [class.score-bad]="message.score === -1"
                                    [class.score-horrible]="message.score === -2">
                                {{message.score === 1 || message.score === 2 ? '+' : ''}}{{message.score}}
                            </z-badge>
                        </div>
                    }
                </div>
                </div>
            </div>
        }
        <div #scrollAnchor></div>
    </div>

    <!-- Input -->
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="flex space-x-2 items-baseline">
        <z-form-field class="flex-1">
            <z-form-control>
                <input z-input placeholder="Type your response..."
                        formControlName="message" autocomplete="off" />
            </z-form-control>
        </z-form-field>
        <button z-button zType="default" type="submit" [disabled]="messageForm.invalid || !gameRunning()"
                class="justify-center rounded-md bg-teal-500 mr-1 ml-2 px-2 py-1.5 text-sm/6 font-semibold text-white hover:bg-teal-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500 cursor-pointer">
            <span class="icon-[bx--mail-send]"></span>
            <span>Send</span>
        </button>
    </form>
    <div #inputAnchor></div>
</section>
