<div class="container mx-auto px-4 pt-6">
    <h1 class="mt-4 p-4 text-center mb-4 text-3xl font-bold text-blue-700">
        Chatter Up for {{chatEnvironmentTitle()}}!
    </h1>
</div>
<section class="h-[74vh] py-2 bg-gradient-to-br from-blue-50 to-teal-50 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8
rounded-2xl shadow-2xl flex flex-col">
    <!-- Game Header -->
    <div class="flex justify-between items-center mb-1 px-4">
        <!-- Time -->
        <div class="flex items-center space-x-2">
            <span class="text-xl text-gray-500">Time Remaining:</span>
            @if (timeLeft() > 120) {
                <span class="text-2xl font-mono font-bold text-green-600">{{formatTime(timeLeft())}}</span>    
            } @else if (timeLeft() > 60) {
                <span class="text-2xl font-mono font-bold text-orange-600">{{formatTime(timeLeft())}}</span>    
            } @else {
                <span class="text-2xl font-mono font-bold text-red-600 animate-pulse">{{formatTime(timeLeft())}}</span>
            }
        </div>

        <!-- Score -->
        <div class="flex items-center space-x-2">
            <span class="text-xl text-gray-500">Score:</span>
            <span class="text-2xl font-bold text-green-600">
                {{score() > 0 ? '+' : ''}}{{score()}}
            </span>
        </div>

    </div>

    <!-- Messages -->
    <div class="space-y-4 mb-6 h-80 overflow-y-auto bg-gray-200 rounded-lg p-4 flex-1">
        @for (message of messages(); track message.id) {
            <div class="flex"
                    [class.justify-end]="message.sender === 'user'"
                    [class.justify-start]="message.sender === 'coach'">
                <div class="max-w-xs px-4 py-3 rounded-lg"
                        [class.sent-by-user]="message.sender === 'user'"
                        [class.sent-by-coach]="message.sender === 'coach'">
                    <p class="text-sm">{{message.text}}</p>
                    @if (message.score !== null) {
                        <div class="flex items-center justify-end mt-2">
                            @if (message.explanation) {
                                <z-badge zPopover [zContent]="popoverContent" zTrigger="hover" zPlacement="bottom" class="text-[1em] bg-white text-teal-500 mr-1">
                                    <span class="icon-[bx--comment-detail]"></span>
                                </z-badge>

                                <ng-template #popoverContent>
                                    <z-popover class="bg-blue-100 p-1 max-w-40">
                                        <div class="space-y-2">
                                            <h4 class="font-medium leading-none">Chat Coach says...</h4>
                                            <p class="text-sm text-muted-foreground">{{message.explanation}}</p>
                                        </div>
                                    </z-popover>
                                </ng-template>
                            }
                            <z-badge class="text-xs text-white"
                                    [class.score-great]="message.score === 2"
                                    [class.score-good]="message.score === 1"
                                    [class.score-meh]="message.score === 0"
                                    [class.score-bad]="message.score === -1"
                                    [class.score-horrible]="message.score === -2">
                                {{message.score === 1 || message.score === 2 ? '+' : ''}}{{message.score}}
                            </z-badge>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <!-- Input -->
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="flex space-x-2 items-baseline">
        <z-form-field class="flex-1">
            <z-form-control>
                <input z-input placeholder="Type your response..."
                        formControlName="message" autocomplete="none" [disabled]="timeLeft() === 0"/>
            </z-form-control>
        </z-form-field>
        <button z-button zType="default" type="submit" [disabled]="messageForm.invalid || timeLeft() === 0"
                class="justify-center rounded-md bg-teal-500 mr-1 ml-2 px-2 py-1.5 text-sm/6 font-semibold text-white hover:bg-teal-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500 cursor-pointer">
                    <!-- class="bg-teal-600 hover:bg-teal-700"> -->
            <span class="icon-[bx--mail-send]"></span>
            <span>Send</span>
        </button>
    </form>
</section>
