<div class="relative bg-white">
    <button z-button z-menu zTrigger="hover" [zMenuTriggerFor]="navMenu">
        <span class="icon-[bx--menu]"></span>
    </button>

    <ng-template #navMenu>
        <div z-menu-content class="w-48 bg-white *:hover:bg-teal-500">
            @if (_authService.loggedIn()) {
                <a routerLink="home" z-menu-item>{{user()?.username}} Home</a>
            }
            <button z-menu-item (click)="watchSelected()">Watch</button>
            <a z-menu-item routerLink="/game/lobby">Play Chatter Up!</a>
            <button z-menu-item (click)="aboutSelected()">About</button>
            @if (_authService.loggedIn()) {
                <button z-menu-item (click)="logOut()"><span class="icon-[bx--log-out] mr-1"></span>Log out</button>
            }
        </div>
    </ng-template>
</div>
