<div class="bg-gradient-to-br from-teal-50 to-blue-50 md:flex items-start">
    <img 
        src="https://d64gsuwffb70l.cloudfront.net/68c420a0b789544db45fdcdd_1757683911828_ee65ae84.webp"
        alt="People having natural conversations"
        class="p-0 shadow-2xl w-[100vw] md:hidden"
        />
    <div class="w-[100vw] p-1 md:w-[35vw] md:inline-block flex-1">
        <h1 class="text-3xl sm:text-4xl md:text-5xl md:static font-bold text-gray-900 mb-6">
            Practice Makes Perfect
            <span class="text-teal-600"> Conversations</span>
        </h1>
        <p class="text-xl text-gray-600 mb-8">
            Whether it's small talk or big, build confidence practicing with AI coaches.
            Practice networking, online dating, and social events in a safe, judgment-free environment.
        </p>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="flex items-center">
            <z-form-field class="flex-1">
                <z-form-control>
                    <input z-input type="email" placeholder="Enter email for conversation tips" formControlName="email" autocomplete="email"/>
                    @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
                        <z-form-message class="text-red-500">
                        @if (signupForm.get('email')?.errors?.['required']) {
                            Email is required.
                        }
                        @if (signupForm.get('email')?.errors?.['email']) {
                            Not a valid email address.
                        }
                        </z-form-message>
                    }
                </z-form-control>
            </z-form-field>
            <button z-button zType="default" type="submit" [disabled]="signupForm.invalid" class="justify-center rounded-md bg-teal-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-teal-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500 cursor-pointer">Subscribe!</button>
        </form>
    </div>
    <img 
        src="https://d64gsuwffb70l.cloudfront.net/68c420a0b789544db45fdcdd_1757683911828_ee65ae84.webp"
        alt="People having natural conversations"
        class="hidden shadow-2xl rounded-2xl w-[55vw] mr-2 h-auto md:inline-block"
        />
</div>
